* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

.header-info {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    overflow: auto;             /* add overflow for dynamic sizing */
}

.header-title {
    display: inline-block;
    font-size: 48px;
}

.header-nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header-nav-list {
    list-style-type: none;
}

.header-nav-list-item {
    display: inline-block;
    margin-left: 25px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
}

.title-darker {
    color: #d9dcd6;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px 20px 0 20px;  /* remove padding from bottom so content bottom lines with sidebar bottom */
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits-section {             /* consolidate benefit-lead, benefit-brand, and benefit-cost into one class */
    margin-bottom: 32px;
    color: #fff;
}

.benefits-heading {             /* consolidate benefit headings into one class */
    margin-bottom: 10px;
    text-align: center;
}

.benefits-img {                 /* consolidate benefit images into one class */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.content-item {                  /* consolidate content items into one class */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-img {                   /* consolidate content item images into one class */
    max-height: 200px;
}

.content-heading {               /* consolidate content headings into one class */
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer-title {
    font-size: 20px;
}

#header-img {
    height: auto;               /* give height: auto for better sizing */
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}