* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* selectors related to html tags */
body {
    background-color: #d9dcd6;
    font-size: 6px
}

p {
    font-size: 3em;
}

/* selectors used throughout but not specific to any one section */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* selector classes for header information */
.header-info {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    overflow: auto;             /* add overflow for dynamic sizing */
}

.header-title {
    display: inline-block;
    font-size: 8em;
}

.header-nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
}

.header-nav-list {
    list-style-type: none;
}

.header-nav-list-item {
    display: inline-block;
    margin-left: 25px;
}

/* selector id for header image */
#header-img {
    height: auto;              
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* selector class navigation link in header section */
.nav-link {
    color: #ffffff;
    text-decoration: none;
}

/* selector class for title in header section */
.title-darker {
    color: #d9dcd6;
}

/* selector classes for main content of the site */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-item {                 
    margin-bottom: 20px;
    padding: 50px;
    min-height: 300px;  /* change height to min-height for scalability */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-img {                  
    max-height: 200px;
}

.content-heading {              
    margin-bottom: 20px;
    font-size: 5em;
}

/* selector classes for sidebar */
.benefits {
    margin-right: 20px;
    padding: 20px 20px 0 20px;  
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits-section {             
    margin-bottom: 32px;
    color: #fff;
}

.benefits-heading {             
    margin-bottom: 10px;
    text-align: center;
    font-size: 3em;
}

.benefits-img {                 
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* selector class for footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer-title {
    font-size: 3em;
}